.popup__confirm-delete {
  width: 430px;
  min-height: 181px;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  position: relative;
}
