.card__btn {
  border: none;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: -1px;
  right: 5px;
  background-image: url(../../../images/icon-like.svg);
  width: 22px;
  height: 19px;
}

.card__btn:hover {
  cursor: pointer;
  opacity: .5;
}
