.card__btn {
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/icon-like.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-right: 5px;
  transition: opacity .2s linear;
}

.card__btn:hover {
  cursor: pointer;
  opacity: .5;
}
